$color-orange-dark: #e87928;
$color-orange-light: #ffac70;
$color-orange: #ff8b37;
$color-green: #47d867;
$color-red: #ec6259;
$color-gray: #d0d0d8;
$color-black: #1c1c21;
$color-bg-light: #f5f5f7;
$color-bg-peach: #fff0e6;
$color-white: #ffffff;

$color-text-dark: $color-black;
