@use '@/styles/variables' as vars;
@use '@/styles/layout' as layout;

.pageContainer {
  @extend .page-container;
  background: initial;
}

.heroSection__totalScore {
  font-size: 2rem;
  font-weight: 600;
  color: vars.$color-black;
  opacity: 50%;

  @media (max-width: 768px) {
    font-size: 1.125rem;
  }
}
